# Ignore environment variable files containing secrets
.env
.env.*
.env.local

# Dependencies
node_modules/
flutter/build/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies

# Next.js build output
.next/
out/
.next.bk/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
firestore-debug.log
ui-debug.log
firebase-debug.log*

# OS / Editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Coverage / reports
coverage
*.lcov

# Additional env variants
.env.development.local
.env.test.local
.env.production.local

# Build / dist outputs
dist/
build/
tmp/
*.swp

# Firebase
.firebase/
.firebaserc.local
*-debug.log

# Flutter / Dart specific
flutter/.dart_tool/
flutter/.packages
flutter/.pub-cache/
flutter/.pub/
flutter/pubspec.lock
flutter/ios/Pods/
flutter/ios/.symlinks/
flutter/ios/Flutter/Flutter.framework
flutter/ios/Flutter/Flutter.podspec
flutter/android/.gradle
flutter/android/captures/
flutter/android/app/debug/
flutter/android/app/profile/
flutter/android/app/release/

# Misc artifacts
bfg.jar
ServerActions.md
